.todo_item_container {
    background-color: #fff;
    margin-bottom: 15px;
    width: 100%;
    padding: 25px 20px;
    border-radius: 5px;
}

.todo_item_title {
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 15px;
}

.todo_item_description {
    font-size: 25px;
    margin-bottom: 15px;
}

.todo_item_button_container {
    display: flex;
    justify-content: right;
    gap: 5px;
}
